<div style="margin-top: 0px; margin-bottom: 10px;">
    <div class="container">
        <div class="header">
            <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"></button>
            <a class="navbar-brand" href="{{ site.productUrl }}"><img src="{{ site.productUrl }}/assets/MFGsTitle.png" width="106px" height="51px" alt="MyFleetGirls" style="margin-top: -10px; margin-left: -10px; margin-right: 20px;"/></a>
        </div>

        <div>
            <ul class="nav nav-pills" style="margin-top: 10px">
                <li><a href="{{ site.productUrl }}">Top</a></li>
                <li><a href="{{ site.productUrl }}/entire/activities">Statistics</a></li>
                <li class="active"><a href="{{ '/' | relative_url }}">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>{{ site.title }}</h1>
    @tweet()
        <ul>
            <li><a href="{{ site.productUrl }}/assets/zip/MyFleetGirls.zip">Downloader Download</a></li>
            <li><a href="https://github.com/ttdoda/MyFleetGirls">GitHub(ttdoda/MyFleetGirls)</a></li>
            <li><a href="https://gitter.im/ponkotuy/MyFleetGirls">Gitter(ponkotuy/MyFleetGirls)</a></li>
            <li><a href="https://github.com/ttdoda/MyFleetGirls/issues">GitHub Issue</a></li>
            <li><a href="https://twitter.com/MyFleetGirls/">公式Twitter(@@MyFleetGirls)</a></li>
        </ul>
    </div>
</div>
