
<section class="col-sm-3">
    <nav id="navbar" class="navbar affix-top" data-role="complementary">
        <ul class="nav">
            <li><a href="#start">はじめに</a></li>
            <li><a href="#java_setup">Javaセットアップ</a></li>
            <li><a href="#download">Download</a></li>
            <li><a href="#extract">解凍</a></li>
            <li><a href="#proxy">Proxy設定</a></li>
            <li><a href="#startup">MyFleetGirlsの起動</a></li>
            <li><a href="#kancolle">艦これを起動する</a></li>
            <li><a href="#check">動作確認</a></li>
            <li><a href="#password">パスワードの設定</a></li>
        </ul>
    </nav>
</section>

<script>$(function(){$('#navbar').affix({offset:{top:400,bottom:400}}).on('affix.bs.affix',function(){$(this).css({'top':'0'});});$('body').scrollspy({target:'nav.navbar'});});</script>
