---
layout: default
---

<ul class="nav nav-tabs">
    <li class="{% if page.url == '/' %}active{% endif %}">
        <a href="{{ '/' | relative_url' }}">インストール</a>
    </li>
    <li class="{% if page.url == '/setup_detail' %}active{% endif %}">
        <a href="{{ '/setup_detail' | relative_url' }}">セットアップ手順</a>
    </li>
    <li class="{% if page.url == '/faq' %}active{% endif %}">
        <a href="{{ '/faq' | relative_url' }}">FAQ</a>
    </li>
    <li class="{% if page.url == '/change' %}active{% endif %}">
        <a href="{{ '/change' | relative_url' }}">更新履歴</a>
    </li>
    <li class="{% if page.url == '/author' %}active{% endif %}">
        <a href="{{ '/author' | relative_url' }}">作者情報</a>
    </li>
</ul>

<div class="tab-content">
    {{ content }}
</div>
